/* Палитра */

/* Первичный цвет текста  - SLATE: #434455; */
/* Вторичный цвет заголовков -  NAVY BLUE: #2E2F42; */
/* Белый цвет - WHITE: #FFFFFF; */
/* Акцент - OCEAN: #404BBF;
/* Цвет кнопки -#4D5AE5; */
/* Второй цвет текста - CLOUD: #F4F4FD; */

/* Переменные */

:root {
  --primary-text-color: #434455;
  --first-title-color: #2e2f42;
  --second-logo-color: #2e2f42;
  --white-color: #ffffff;
  --accent-color: #404bbf;
  --hero-button-color: #4d5ae5;
  --first-logo-color: #4d5ae5;
  --second-text-color: #f4f4fd;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Стили для index.html */

/* Шапка */
/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  color: var(--first-logo-color);
}
.second-logo {
  color: var(--second-logo-color);
}

/* Новигация */

.site-nov .link {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.address-nav .navigation {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* Заголовки  h2*/

.section title {
  color: var(--first-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

/* Заголовки h3 */
.secondary-title {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Текст тега <p> */

/* Cекция 3 */

.team-list .title {
  color: var(--first-title-color);
}

/* Кнопки */
.button {
  color: var(--white-color);
  background-color: var(--second-text-color);
}

/* Footer */

.footer-logo {
  color: var(--first-logo-color);
}

.footer .second-logo {
  color: var(--second-text-color);
}

/* Секция Портфолио */

.portfolio-list .title {
  color: var(--first-title-color);
}

.portfolio-list .text {
  color: var(--primary-text-color);
}
